<nav class="site-nav">
  <ul>
    {% for item in site.nav %}
      <li><a href="{{ item.url }}" {% if page.url == item.url %}aria-current="page"{% endif %}>{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
