<!doctype html>
<html lang="en">
<head>
  {% include "partials/head.njk" %}
</head>
<body class="tgk">
  {% include "partials/nav.njk" %}
  {% include "partials/header.njk" %}

  <main class="container prose tgk-prose">
    {{ content | safe }}
  </main>

  {% include "partials/footer.njk" %}
</body>
</html>
